*{
    box-sizing: border-box;
}
body{
    background-color: #0e0e0e;
}
.container{
    width: 700px;
    height: 260px;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin:auto;
    padding: 10px;
    color: #000;
    background-color: #fff;
    border-radius: 3px;
    cursor: pointer;
}
hr{
    margin: 0 auto;
    border:0;
    height:1px;
    background-color: #ccc;
}
.header{
    height: 40px;
    line-height: 40px;
}
.avatar{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    vertical-align:middle;
}
.author{
    font-size: 12px;
    font-weight: 500;
    color: #000;
    letter-spacing: 1px;
    padding-left: 3px;
}
.time{
    font-size: 12px;
    font-weight: 500;
    color: #888;
}

.content{
    padding: 10px 0;
}

h3{
    height: 40px;
    line-height: 40px;
    margin: 0;
}
p{
    overflow : hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    margin:0;
    font-family: "Arial","Microsoft YaHei","黑体","宋体",sans-serif;
    font-size: 14px;
    letter-spacing: 1px;
    line-height: 1.6em;
}

.image{
    position: relative;
    float: right;
    width: 160px;
    height: 150px;
}
.young{
    width: 120px;
    height: 80px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid #ddd;
    border-radius: 5px;
}

.data{
    height: 30px;
    line-height: 30px;
    font-size: 12px;
}
.tag{
    color: red;
    padding: 0 8px;
    border: 1px solid red;
    border-radius: 2px;
}
i{
    color: #888;
    margin-left: 10px;

}
.num{
    color: #888;
    padding-left: 2px;
}
